{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
            {{ form_label(form) }}

            <div class="col-lg-7">
                {% if attr.checkbox is defined %}
                    {{ form_widget(form) }}
                {% else %}
                    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                {% endif %}
                {% for error in errors %}
                    <span class="help-block form-error">
                        {{ error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                    </span>
                {% endfor %}

                {% if attr.help is defined %}
                    <span class="help-block">({{ attr.help }})</span>
                {% endif %}
            </div>
            <div class="col-lg-1" style="padding-left: 0">
                {% if attr.unit is defined %}
                    <span class="help-block">{{ attr.unit }}</span>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if required %}
            {% set label = label|humanize ~ ' *' %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-lg-4') ~ ' control-label'}) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock form_label %}
